{{#> layout }}
  {{#if loggedInUser}}
    {{> createPost }}

  {{else}}
    <p>Login or register to create a post</p>
  {{/if}}

  <h3>Posts</h3>
  {{#if posts.length}}
    {{#each posts}}
      <div class="post">
        <p class="post__content">{{ content }}</p>
        <div class="post__footer">
          Posted by 
          <a class="post__user" href="/profile/{{userUuid}}">{{ username }}</a>
          {{ createdAtRelative }}
        </div>
      </div>
    {{/each}}
  {{else}}
    <p>No posts to show</p>
  {{/if}}
{{/layout}}